<div class="body">
  <ion-card>
    <ion-card-header>
    </ion-card-header>
    <ion-card-content>
      <img src="../../../../assets/img/welcomePetsFound.jpg" alt="Descripción de la imagen" style="width: 100%; max-width: 300px; height: auto;" />
      <p>PETSFOUND</p>
    </ion-card-content>
  </ion-card>

  <div style="display: flex; align-items: center;">
    <ion-card class="Agregarmas">
      <ion-card-content>
        <img src="../../../../assets/img/pet01-gato01.jpg" />
      </ion-card-content>
    </ion-card>
    <ion-card class="buttonCustom">
      <ion-button (click)="changePage('home','addPets')">
       +
      </ion-button>
    </ion-card>
  </div>
  <br><br>
</div>