<div class="body">
  <ion-card style="background-color: aquamarine;">
    <ion-card-header>
      <ion-card-title>Presentamos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    PetsFound una aplicación donde podras escanear los codigos qr de los collares de tus mascotas para cuidarlas y poder ver la infromación del dueño por si se pierde.
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
    </ion-card-header>
    <ion-card-content>
      <img src="../../../../assets/img/welcomePetsFound.jpg" alt="Descripción de la imagen" style="width: 100%; max-width: 300px; height: auto;" />
      <p>PETSFOUND</p>
    </ion-card-content>
  </ion-card>

  <div style="display: flex; align-items: center;">
    <ion-card class="Agregarmas">
      <ion-card-content>
        <img src="../../../../assets/img/pet01-gato01.jpg" />
      </ion-card-content>
    </ion-card>
    <ion-card class="Agregarmas">
      <ion-card-content>
        Agregar mascota +
      </ion-card-content>
    </ion-card>
  </div>
  <br><br>
</div>