.body {
  background-image: url('../../../../assets/img/diseno_estrella.jpg');
  background-size: cover;
  background-position: center center; 
  background-repeat: no-repeat;
  width: 100%;
  min-height: 90vh;
  position: absolute;
}
.mascotas-container {
  max-height: 200px; 
  overflow-y: scroll; 
  display: block;
  justify-content: center;
  padding: 20px; 
  margin-bottom: 20px; 
}

.mascota-card {
  width: 100%;
}

.botoncustom {
  width: 150px; 
  height: 150px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #000; 
  border-radius: 10px; /* Borde redondeado */
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
  &:hover {
    background-color: #f0f0f0; 
  }


  &:active {
    background-color: #ccc; 
  }
}
  
  