<div class="body"> 
  <ion-card>
    <ion-card-header>
    </ion-card-header>
    <ion-card-content>
      <img src="../../../../assets/img/welcomePetsFound.jpg" alt="Descripción de la imagen" style="width: 100%; max-width: 300px; height: auto;" />
      <p>PETSFOUND</p>
    </ion-card-content>
  </ion-card>

  <div style="display: flex; align-items: center;">
    <ion-card class="Agregarmas">
      <ion-card-content>
        <img src="../../../../assets/img/pet01-gato01.jpg" />
      </ion-card-content>
    </ion-card>

    <div class="mascotas-container">
      <ion-card *ngFor="let mascota of mascotas" class="mascota-card">
        <ion-card-content>
          <ion-label>{{ mascota.nombre }}</ion-label>
        </ion-card-content>
      </ion-card>
    </div>

    <ion-card class="Agregarmas">
      <ion-button (click)="changePage('home','addPets')">
        Agregar mascota +
      </ion-button>
    </ion-card>
  </div>
  <br><br>
</div>