<ion-header [translucent]="true">
  <div class="color-title"> <br>
    <ion-title>Inicio</ion-title>
    <br>
  </div>
</ion-header>

<ion-content [fullscreen]="true" id="content-home-pf">
  <div class="body">
    <ion-card style="background-color: aquamarine;">
      <ion-card-header>
        <ion-card-title>Presentamos</ion-card-title>
      </ion-card-header>
      <ion-card-content>
      PetsFound una aplicación donde podras escanear los codigos qr de los collares de tus mascotas para cuidarlas y poder ver la infromación del dueño por si se pierde.
      </ion-card-content>
    </ion-card>
    
    <ion-card>
      <ion-card-header>
      </ion-card-header>
      <ion-card-content>
        <img src="https://static.vecteezy.com/system/resources/previews/010/821/564/original/cute-pets-isolated-poster-banner-dog-cat-rabbit-hare-doodle-welcome-line-hello-vector.jpg" alt="Descripción de la imagen" style="width: 100%; max-width: 300px; height: auto;" />
        <p>PETSFOUND</p>
      </ion-card-content>
    </ion-card>

    <div style="display: flex; align-items: center;">
      <ion-card class="Agregarmas">
        <ion-card-content>
          <img src="https://i.pinimg.com/736x/80/0a/c9/800ac981c916bcb6e5e9b0cd969f1d9d.jpg" />
        </ion-card-content>
      </ion-card>
      <ion-card class="Agregarmas">
        <ion-card-content>
          Agregar mascota +
        </ion-card-content>
      </ion-card>
    </div>
    
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button (click)="changePage('home')">
          <ion-icon name="home"></ion-icon>
          Home
        </ion-tab-button>
        <ion-tab-button (click)="changePage('message')">
          <ion-img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/Codigo_QR.svg/1200px-Codigo_QR.svg.png" style="width: 30px; height: 30px;"></ion-img>
          QR
        </ion-tab-button>
        <ion-tab-button (click)="changePage('account')" > 
          <ion-icon name="person" style="height: 30px; width: 30px;"></ion-icon>
          Cuenta
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </div>
</ion-content>
