.tool-bar-pf{
  background-color: #0dd4ba ;
  padding-top: 20px;
  padding-bottom: 20px;
}

.fixed-tabs {
  position: fixed;
  top: 90vh; /* Distancia desde la parte inferior de la pantalla */
  height: 10vh;
  width: 100%;
}

.custom-tabs {
  --background: #FF5733; /* Cambia el color de fondo según tu preferencia */
}
