<div class="body">
  <ion-item>
    <ion-avatar slot="start">
      <img alt="Silhouette of a person's head" src="../../../assets/img/avatar.jpg" />
    </ion-avatar>
    <ion-label>{{data.usuario}}</ion-label>
  </ion-item>
  <ion-list>
      <ion-item >
        <ion-label class="cf-account"> Configuracion de la cuenta </ion-label>
      </ion-item>

       
       <ion-item>
          <a (click)="IrEditarPerfil()" style="color: black;">Editar Perfil</a>
       </ion-item>
        

      <ion-item>
        <ion-label>Cambiar Contraseña</ion-label>
      </ion-item>

      <ion-item>
        <a (click)="generateQR()" style="color: black;">Generar QR</a>
      </ion-item>
  </ion-list>

  <ion-item>
    <button (click)="logOut()" class="botonCR">Cerrar Sesión</button>
  </ion-item>
  <br><br>
</div>