<ion-header [translucent]="true">
  <div class="tool-bar-pf">
    <ion-title>Cuenta</ion-title>
  </div>
</ion-header>

<ion-content [fullscreen]="true" id="content-account-pf">
  <div class="body">
    <ion-item>
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>{{data.usuario}}</ion-label>
    </ion-item>
    <ion-list>
        <ion-item >
          <ion-label> Configuracion de la cuenta </ion-label>
        </ion-item>

        <ion-item >
          <ion-label>Editar Perfil</ion-label>
        </ion-item>

        <ion-item>
          <ion-label>Cambiar Contraseña</ion-label>
        </ion-item>

    </ion-list>

    <ion-item>
      <button (click)="changePage('',1)" class="botonCR">
        <ion-label> Cerrar Sesión </ion-label>
      </button>
    </ion-item>
  <br><br></div>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button (click)="changePage('home')">
        <ion-icon name="home"></ion-icon>
        Home
      </ion-tab-button>
      <ion-tab-button (click)="changePage('message')">
        <ion-img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/Codigo_QR.svg/1200px-Codigo_QR.svg.png" style="width: 30px; height: 30px;"></ion-img>
        QR
      </ion-tab-button>
      <ion-tab-button (click)="changePage('account')" > 
        <ion-icon name="person" style="height: 30px; width: 30px;"></ion-icon>
        Cuenta
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>