.body {
  width: 100%;
  min-height: 90vh;
  position: absolute;
  z-index: -1;
}

.tool-bar-pf{
  background-Color: #0dd4ba ;
  padding-top: 20px;
  padding-bottom: 20px;
}

.fixed-tabs {
  position: fixed;
  top: 90vh; /* Distancia desde la parte inferior de la pantalla */
  height: 10vh;
  width: 100%;
}

.botonCR {
  display: inline-block;
  padding: 10px 20px;
  background-color: red;
  color: white; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: darkred; 
  }

  &:active {
    background-color: maroon;
  }
}