.body {
    background-image: url('../../../../assets/img/cieloxd.jpg');
    background-size: cover;
    background-position: center center; 
    background-repeat: no-repeat;
    width: 100%;
    min-height: 90vh;
    position: absolute;
    width: 100%;
    min-height: 90vh;
    position: absolute;
  }
  