<ion-card>
  <ion-card-content>
    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input  type="text" [(ngModel)]="dueno.nombre" minlength="4" maxlength="25"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Apellido Paterno</ion-label>
      <ion-input  type="text" [(ngModel)]="dueno.ap_paterno" minlength="5" maxlength="35"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Apellido Materno</ion-label>
      <ion-input  type="text" [(ngModel)]="dueno.ap_materno" minlength="0" maxlength="35"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Correo Electrónico</ion-label>
      <ion-input type="email" [(ngModel)]="dueno.correo" [readonly]="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Edad</ion-label>
      <ion-input  type="number" [(ngModel)]="dueno.edad" min="10" max="125"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Teléfono</ion-label>
      <ion-input  type="tel" [(ngModel)]="dueno.celular" minlength="9"></ion-input>
    </ion-item>

    <ion-button expand="full" (click)="updateDueno()">Guardar Cambios</ion-button>
  </ion-card-content>
</ion-card>