<div class="center-content body" id="content-recoverpass-pf">
  <ion-card>
    <img alt="login_img" src="../../../../assets/img/logoPetsFound.png" style="height: 140px; width: 140px;" />
    <ion-card-header>
      <ion-card-title style="color: white;">Recuperar Contraseña</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input [(ngModel)]="userSearch.email" (ionInput)="convertirAMinusculas($event)" type="email"></ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <a class="btn-irLogin" style="color: white;">¿La acaba de recordar?</a><br>
          <ion-button id="btn-send" expand="block">Enviar</ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</div>