.body {
  background-image: url('https://e1.pxfuel.com/desktop-wallpaper/404/1018/desktop-wallpaper-minimalist-iphone-minimal-vertical.jpg');
  background-size: cover;
  background-position: center center; 
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

ion-card {
  background-color: #acacac5d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 9vh;
  background-position: center center; // Ajusta la posición de la imagen
  background-repeat: no-repeat; // Evita que la imagen se repita
  background-size: cover; // Ajusta el tamaño de la imagen para cubrir toda la página
  height: 85vh; /* Esto establecerá la altura al 100% de la ventana */
}

.color-title{
  background-Color: #0dd4ba ;
}
// Animacion de spinner
// This is just to center the spinner

html, body { height: 100%; }

body {
   display: flex;
   align-items: center;
   justify-content: center;
}

// Here is where the magic happens

$offset: 187;
$duration: 1.4s;

.spinner {
  animation: rotator $duration linear infinite;
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

.path {
  stroke-dasharray: $offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation:
    dash $duration ease-in-out infinite, 
    colors ($duration*4) ease-in-out infinite;
}

@keyframes colors {
	0% { stroke: #4285F4; }
	25% { stroke: #DE3E35; }
	50% { stroke: #F7C223; }
	75% { stroke: #1B9A59; }
  100% { stroke: #4285F4; }
}

@keyframes dash {
 0% { stroke-dashoffset: $offset; }
 50% {
   stroke-dashoffset: $offset/4;
   transform:rotate(135deg);
 }
 100% {
   stroke-dashoffset: $offset;
   transform:rotate(450deg);
 }
}