<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>PetsFound</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Usuario: </ion-label>
    <ion-input [(ngModel)]="user.username" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Contraseña: </ion-label>
    <ion-input [(ngModel)]="user.password" type="password"></ion-input>
  </ion-item>
  <br>
  <ion-button (click)="changePageLog('home')">Iniciar Sesi&oacute;n</ion-button>
</ion-content>
