.body {
  background-image: url('../../../../assets/img/wallpaperLogin.jpg');
  background-size: cover;
  background-position: center center; 
  background-repeat: no-repeat;
  width: 100%;
  min-height: 98.7vh;
  top: 0;
}

#content-login-pf {
.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

ion-card {
  max-width: 400px;
  width: 90%;
  margin: 50px auto; 
  align-self: center;
}

  ion-card-title {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
  }

  ion-card-content {
    ion-item {
      ion-label {
        font-size: 1em;
      }

      ion-input {
        border-radius: 5px;
        margin-top: 5px; 
        margin-bottom: 10px; 
      }
    }

    #div-spinner {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px; 
      margin-bottom: 10px; 
    }

    ion-row {
      ion-col {
        a {
          display: block;
          text-align: center;
          color: white;
          margin-bottom: 10px;
          background-color: rgba(0, 0, 0, 0.5); // Fondo oscuro semitransparente
          padding: 5px; // Espaciado interno para mejorar la legibilidad

          &:hover {
            background-color: rgba(0, 0, 0, 0.7); // Cambia el fondo al pasar el ratón
          }
        }

        #btn-login {
          background-color: #007bff; 
          color: #fff; 
          border-radius: 5px;
          margin-top: 10px; 
          &:hover {
            background-color: #0056b3; 
          }
        }
      }
    }
  }
}
  // Animacion de spinner
  // Here is where the magic happens
  
  $offset: 187;
  $duration: 1.4s;
  
  .spinner {
    animation: rotator $duration linear infinite;
  }
  
  @keyframes rotator {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(270deg); }
  }
  
  .path {
    stroke-dasharray: $offset;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation:
      dash $duration ease-in-out infinite, 
      colors ($duration*4) ease-in-out infinite;
  }
  
  @keyframes colors {
      0% { stroke: #4285F4; }
      25% { stroke: #DE3E35; }
      50% { stroke: #F7C223; }
      75% { stroke: #1B9A59; }
    100% { stroke: #4285F4; }
  }
  
  @keyframes dash {
   0% { stroke-dashoffset: $offset; }
   50% {
     stroke-dashoffset: calc($offset / 4);
     transform:rotate(135deg);
   }
   100% {
     stroke-dashoffset: $offset;
     transform:rotate(450deg);
   }
  }