body {
    background-image: url("https://png.pngtree.com/background/20210716/original/pngtree-cute-cartoon-dog-wallpaper-picture-image_1348618.jpg");
    text-align: center;
    margin: 0 auto;
    max-width: 600px;
}

h1 {
    color: #333;
}

a {
    text-decoration: none;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

.image-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.qrimg img {
    width: 100%; 
    height: auto; 
    display: block; 
    margin: auto;
}

.left-image img,
.right-image img {
    width: 150px; 
    height: auto;
    display: block;
    margin: 0 20px
}

