<ion-header [translucent]="true">
  <div class="color-title"> <br>
    <ion-title>Registrarse</ion-title>
  <br></div>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center ion-align-items-center">
  <div class="center-content">
    <ion-card>
      <img alt="login_img" src="https://images.vexels.com/media/users/3/237008/isolated/preview/b09c042b0807bf1bfcde5d3737810b1d-llaveros-animales-21.png" style="height: 140px; width: 140px;" />
      <ion-card-header>
        <ion-card-title style="color: white;">Registrarse</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Usuario</ion-label>
          <ion-input [(ngModel)]="userTmp.usuario" type="text" minlength="6"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input [(ngModel)]="userTmp.email" type="email" minlength="6"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input [(ngModel)]="userTmp.password" type="password" minlength="6"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Confirmar password</ion-label>
          <ion-input [(ngModel)]="userTmp.twoPassword" type="password" minlength="6"></ion-input>
        </ion-item>
        <ion-row>
          <ion-col>
            <a (click)="changePageLog('login')" style="color: white;">¿Ya posee una cuenta?</a>
            <ion-button expand="block" (click)="changePage('login')">Registrarse</ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
